---
import RecentPosts from "../components/RecentPosts.astro";
import Layout from "../layouts/Layout.astro";
import NewsletterSignUp from "../components/NewsletterSignUp.astro";
import Link from "../components/ui/Link.astro";

let title = "Home - Brock Herion";
let description =
  "I'm Brock. I'm a software developer and content creator. On this site, we look at content related to software development and my own journey as a developer";
let permalink = "https://brockherion.dev/";
let image = "/brockheriondev.webp";

const projects = [
  {
    name: "Queuebase",
    description: "Background job and queue management for Next.js applications",
    url: "https://queuebase.com",
  },
  {
    name: "brockherion.dev",
    description:
      "My personal website, built with Astro, React, TypeScript, and Tailwind",
    url: "https://github.com/BrockHerion/brockherion.dev",
  },
  {
    name: "wordle_rs",
    description: "Wordle clone, written in Rust as a CLI application",
    url: "https://github.com/BrockHerion/wordle_rs",
  },
];
---

<Layout content={{ title, description, permalink, image }}>
  <section id="hero">
    <h1 class="font-bold text-2xl text-zinc-50 mb-4">Hey, I'm Brock</h1>
    <p class="mb-2 leading-6 max-w-3xl text-sm text-zinc-300">
      I'm a full-stack software developer, natural optimist, founder, and proud
      cat dad. I like to read, play video games, and tinker with things. I love
      web development and am passionate about building great software.
    </p>
    <p class="leading-6 mb-2 max-w-3xl text-sm text-zinc-300">
      I create content for developers, mainly around building things with React,
      TypeScript, and Next.js. This comes in the form of blog posts, Tweets, and
      newsletter articles.
    </p>
    <p class="text-zinc-300 leading-6 mb-6 max-w-3xl text-sm">
      Lately I've been working on Queuebase, an app for running background jobs
      for your Next.js applications, taking a deeper dive into data structures
      and algorithms, writing blog posts, and hitting the gym for those sweet
      gains.
    </p>
  </section>
  <section id="recent-posts">
    <div class="border-t border-zinc-50 pt-4">
      <h2 class="text-xl mb-3 text-zinc-200">Blog</h2>
      <RecentPosts />
    </div>
  </section>
  <section id="newsletter-signup">
    <NewsletterSignUp />
  </section>
  <section id="projects">
    <h2 class="text-xl mb-2 text-zinc-200">Projects</h2>
    <div class="flex flex-col mb-6 space-y-6">
      {
        projects.map((project) => (
          <div class="flex flex-col">
            <div class="mb-1">
              <Link href={project.url} target="_blank" rel="noreferrer">
                {project.name}
              </Link>
            </div>
            <span class="text-sm text-zinc-400">{project.description}</span>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
