---
import FeaturedPosts from '../components/FeaturedPosts.astro';
import RecentPosts from '../components/RecentPosts.astro';
import Layout from '../layouts/Layout.astro';
import code from '/code.webp'

let title = 'Home - Brock Herion';
let description = 'I\'m Brock. I\'m a software developer and content creator. On this site, we look at content related to software development and my own journey as a developer';
let permalink = 'https://brockherion.dev/';
let image = '/default-social.webp';
---

<Layout content={{title, description, permalink, image}}>
	<div class="flex flex-col md:flex-row mb-8">
		<img class="mb-6 w-full h-full" src={code} alt="Picture of Brock" width="890" height="858" />
		<div class="flex flex-col md:items-end justify-center">
			<div class=" flex flex-col md:items-end">
				<h1 class="text-4xl ">Hey there 👋</h1>
				<div class="w-16 h-2 mt-4 bg-emerald-400"></div>
			</div>

			<h2 class="text-2xl mt-6 mb-3 md:text-right ">
				I'm Brock and I'm a full-stack software developer
			</h2>
			<h3 class="text-xl mt-4 mb-3 md:text-right ">
				On this site, you&apos;ll find content related to
				full-stack development with (primarily) React and TypeScript, as well as about productivity, technology,
				and
				more!
				You&apos;ll also
				get to know me a
				little better
				and get to see some of the cool things I&apos;ve
				worked on.
			</h3>
		</div>
	</div>
	<div class="border-2 rounded-lg border-emerald-400 px-4 py-2 bg-emerald-400/10 mb-8">
		<h3 class="text-2xl mb-2">
			Subscribe to my newsletter 💌
		</h3>
		<div class="md:grid md:grid-cols-2 md:gap-x-6 flex flex-col pb-2">
			<div>
				<p class="text-lg mb-3 font-inconsolata">
					Stay up-to-date on new content with Brock&apos;s Bytes! I also share tips
					related to full-stack software development and give advice on
					managing a healthy, productive life while having a career in
					programming. There's something here for everyone!
				</p>
			</div>
			<div>
				<h4 class="text-xl mb-3 md:text-center">
					Sign up now to join a growing community of friendly readers!
				</h4>
				<form id="revue-form" name="revue-form"
					action="https://www.getrevue.co/profile/brockherion/add_subscriber" method="post" target="_blank"
					class="flex flex-col md:items-center md:justify-center md:px-12">
					<input class="w-full px-4 py-2 rounded-md mb-2 border" id="member_email" name="member[email]"
						type="email" placeholder="me@example.com" required />
					<button class="w-full bg-yellow-300 px-4 py-2 rounded-md text-slate-800 font-bold mb-2"
						type="submit">
						Subscribe
					</button>
					<div class="w-full text-sm text-center italic">
						By subscribing, you agree with Revue’s{" "}
						<a target="_blank" href="https://www.getrevue.co/terms" class="hover:underline">
							Terms of Service
						</a>{" "}
						and{" "}
						<a target="_blank" href="https://www.getrevue.co/privacy" class="hover:underline">
							Privacy Policy
						</a>
						.
					</div>
				</form>
			</div>
		</div>
	</div>
	<FeaturedPosts />
	<RecentPosts />
	<div class="flex justify-center">
		<a href="/blog" class="bg-emerald-400 px-3 py-4 rounded-md text-gray-800">
			Explore more posts
		</a>
	</div>
</Layout>