---
import { Icon } from "astro-icon";
import { Link } from "./ui/Link";
import { navigation } from "../lib/ constants";
---

<footer class="py-2 my-4">
  <div class="border-t border-zinc-50 max-w-4xl mx-auto py-2 text-center">
    <nav class="-mb-6 flex justify-center space-x-12" aria-label="Footer">
      {
        navigation.map((item) => (
          <div class="pb-6">
            <Link href={item.href}>{item.name}</Link>
          </div>
        ))
      }
      <div>
        <Link rel="noreferrer" target="_blank" href="https://brocksbytes.com">
          Newsletter
        </Link>
      </div>
    </nav>
    <div class="flex items-center justify-center space-x-10 py-4 md:m-0">
      <Link
        href="https://twitter.com/BrockHerion"
        rel="noreferrer"
        target="_blank"
        className="border-none"
      >
        <Icon name="ri:twitter-fill" />
      </Link>
      <Link
        href="https://github.com/BrockHerion"
        rel="noreferrer"
        target="_blank"
        className="border-none"
      >
        <Icon name="ri:github-fill" />
      </Link>
      <Link
        href="https://www.youtube.com/@brockherion1275"
        rel="noreferrer"
        target="_blank"
        className="border-none"
      >
        <Icon name="ri:youtube-fill" />
      </Link>
      <Link
        href="https://discordapp.com/users/328018708746338318"
        rel="noreferrer"
        target="_blank"
        className="border-none"
      >
        <Icon name="ri:discord-fill" />
      </Link>
    </div>
    <p class="text-zinc-400 text-sm">Brock Herion</p>
  </div>
</footer>
