---
import { Icon } from "astro-icon";
---

<header
  class="flex-none mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-12 pb-6 flex flex-col items-center md:justify-between justify-center"
>
  <div class="flex flex-col justify-center max-w-4xl mx-auto items-center">
    <a href="/" class="flex items-center">
      <span class="text-4xl md:5xl"> Brock Herion</span>
    </a>
    <div class="bg-emerald-400 w-12 h-1 md:mb-2 mt-2"></div>
  </div>
  <div
    class="flex justify-between items-center max-w-4xl w-full mx-auto my-6 flex-col-reverse md:flex-row"
  >
    <nav>
      <ul class="flex items-center justify-center space-x-6">
        <li class="nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav-link">
          <a href="/about">About</a>
        </li>
        <li class="nav-link">
          <a href="/blog">Blog</a>
        </li>
        <li class="nav-link">
          <a href="https://brocksbytes.com" target="_blank" rel="noreferrer"
            >Newsletter</a
          >
        </li>
      </ul>
    </nav>
    <div class="flex items-center justify-center space-x-3 mb-4 md:m-0">
      <a
        href="https://twitter.com/BrockHerion"
        rel="noreferrer"
        target="_blank"
      >
        <Icon name="mdi:twitter" />
      </a>
      <a href="https://github.com/BrockHerion" rel="noreferrer" target="_blank">
        <Icon name="mdi:github" />
      </a>
      <a
        href="https://www.linkedin.com/in/brock-j-herion-34279a176/"
        rel="noreferrer"
        target="_blank"
      >
        <Icon name="mdi:linkedin" />
      </a>
      <a
        href="https://www.instagram.com/brock_herion/"
        rel="noreferrer"
        target="_blank"
      >
        <Icon name="mdi:instagram" />
      </a>
      <a
        href="https://www.facebook.com/brockheriondev"
        rel="noreferrer"
        target="_blank"
      >
        <Icon name="mdi:facebook" />
      </a>
    </div>
  </div>
</header>
