---
import { Card } from "./ui/Card";
---

<Card className="mb-8">
  <h5 class="text-lg mb-2">Brock's Bytes</h5>
  <div class="md:grid md:grid-cols-2 md:gap-x-6 flex flex-col pb-2">
    <div>
      <p class="mb-3 text-sm font-inter">
        Every Sunday, I share an exclusive email newsletter sharing my thoughts
        on code, tech, business, and life. Sign up now and join a growing
        community of readers!
      </p>
    </div>
    <div class="flex flex-col md:items-center md:px-12">
      <script
        async
        data-uid="c6d3a5b9c2"
        src="https://brocks-bytes.ck.page/c6d3a5b9c2/index.js"></script>
    </div>
  </div>
</Card>
