---
import { Card } from "./ui/Card";
---

<Card className="mb-8">
  <h5 class="text-lg mb-2">Brock's Bytes</h5>
  <div class="flex flex-col pb-2">
    <div>
      <p class="mb-3 text-sm font-inter">
        Every Sunday, I share an exclusive email newsletter sharing my journey.
        If you're inesterest in code, technology, business, etc. this is the
        newsletter for you. Sign up now and join a growing community of readers!
      </p>
    </div>
    <script
      async
      data-uid="c6d3a5b9c2"
      src="https://brocks-bytes.ck.page/c6d3a5b9c2/index.js"></script>
  </div>
</Card>
