<div class="rounded p-4 bg-emerald-400/10 mb-8 border border-emerald-400">
  <h3 class="text-2xl mb-2">Subscribe to Brock's Bytes 📥</h3>
  <div class="md:grid md:grid-cols-2 md:gap-x-6 flex flex-col pb-2">
    <div>
      <p class="text-lg mb-3 font-inter">
        Every Sunday, I share an exclusive email newsletter with practical tips
        and actionable advice for software developers. From books to code to
        productivity, there's somethere here for everyone. You don't want to
        miss it!
      </p>
    </div>
    <div class="flex flex-col md:items-center md:px-12">
      <script
        async
        data-uid="c6d3a5b9c2"
        src="https://brocks-bytes.ck.page/c6d3a5b9c2/index.js"
      ></script>
    </div>
  </div>
</div>
