---
import type { CollectionEntry } from "astro:content";
import { Link } from "./ui/Link";
import { generatePostUrl } from "../lib/urls";

type Props = {
  post: CollectionEntry<"posts">;
};

const {
  post: {
    data: { title, publishedOn },
    slug,
  },
} = Astro.props;
---

<article class="flex flex-col sm:flex-row-reverse justify-between space-y-1">
  <Link
    href={generatePostUrl(slug)}
    className="flex-1 flex flex-col sm:flex-row-reverse justify-between space-y-1"
  >
    <span class="text-xs">{publishedOn}</span>
    <span class="flex-1">{title}</span>
  </Link>
</article>
