---
import Icon from "astro-icon";
import { Link } from "./ui/Link";
import { getCollection } from "astro:content";
import PostPreview from "./PostPreview.astro";

const posts = await getCollection("posts");
const recentPosts = posts
  .filter((post) => post.data.isPublished && !post.data.isDraft)
  .sort(
    (a, b) =>
      new Date(b.data.publishedOn).valueOf() -
      new Date(a.data.publishedOn).valueOf()
  )
  .slice(0, 5);
---

<div class="mb-6">
  <ul class="space-y-6 m-auto mb-8">
    {
      recentPosts.map((post) => (
        <li class="max-w-2xl">
        <PostPreview post={post} />
        </li>
      ))
    }
  </ul>

  <Link href="/blog" className="border-none flex items-center justify-start w-28">
    <span>All posts</span>
    <Icon class="ml-1" name="radix-icons:arrow-right" />
  </Link>
</div>